a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navigation */
.nav-main {
  width: 100%;
  margin: auto;
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 60px;
  background-color: #003e6b;
}

.nav-brand {
  width: 50px;
  margin-left: 50px;
}

/* NAV LEFT */
.nav-main ul {
  display: flex;
  :hover {
    color: #f7c948;
  }
}

.nav-main ul li {
  padding: 30px;
}

.nav-main ul li a {
  padding: 2px;
}

.nav-main ul li a:hover {
  border-bottom: px solid #ffffff;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}
